# ===============
#  ~/.ssh/config
# ===============

Protocol 2
IgnoreUnknown PubkeyAcceptedKeyTypes,FingerprintHash

Host github.com
  User git

  LogLevel INFO

Host *
  IdentityFile          ~/.ssh/id_ed25519
  IdentitiesOnly        yes

  LogLevel              DEBUG2

  Ciphers               chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
  KexAlgorithms         curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256,ecdh-sha2-nistp521
  MACs                  hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512
  HostKeyAlgorithms     ssh-ed25519,ecdsa-sha2-nistp521,ecdsa-sha2-nistp256,ssh-rsa

  PreferredAuthentications publickey
  PubkeyAcceptedKeyTypes   ssh-ed25519,ecdsa-sha2-nistp521,ssh-rsa

  PubKeyAuthentication            yes
  ChallengeResponseAuthentication no
  GSSAPIAuthentication            no
  HostbasedAuthentication         no
  KbdInteractiveAuthentication    no
  PasswordAuthentication          no

  CheckHostIP           yes
  VerifyHostKeyDNS      ask
  StrictHostKeyChecking ask
  VisualHostKey         yes
  FingerprintHash       sha512
  HashKnownHosts        yes

  Compression           no
  ForwardAgent          no
  ForwardX11            no
  UseRoaming            no

  TCPKeepAlive          yes
  ServerAliveInterval   3
  ServerAliveCountMax   5

  RekeyLimit            100M 1h

# ControlMaster         auto
# ControlPath           ~/.ssh/control-%r@%h:%p

